.header {
  background: #2c3e50;
  background: linear-gradient(to left, #3498db, #2c3e50);
  color: white;
  min-height: 25vh;
}

.header__title {
  font-weight: 300;
  margin: 0 0 15px;
}

.header__subtitle {
  font-weight: 300;
  margin: 0;
}

.search {
  margin: 25px auto;
  position: relative;
  width: 90%;
}

.search input {
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 5px;
  display: block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  padding: 15px 10px;
  transition: box-shadow .25s;
  width: 100%;
}

.search input:focus {
  box-shadow: 0 0 8px;
}

.spinner {
  background: white;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 76p8px) {
  .search {
    width: 80%;
  }
}
