header {
  background: #3498db;
  color: #ffffff;
  position: sticky;
  top: 0;
}
header .action:nth-of-type(1) {
  margin-right: 10px;
}
a {
  cursor: pointer;
}
#canvas {
  height: 100vh;
}
.settings {
  bottom: 0;
  position: sticky;
  z-index: 100;
}
.shapes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20px;
}
.shape-btn {
  background: #2e86ab;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
  transition: all .25s linear;
}
.tab-input {
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 5px;
  display: block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  transition: box-shadow .25s;
  width: 100px;
}
.swal2-content {
  background: #002240;
  border-radius: 5px;
  color: #ffffff !important;
  font-size: 14px !important;
  overflow-x: auto;
  padding: 10px !important;
  white-space: nowrap;
}