@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400');
@import url('https://cdn.jsdelivr.net/gh/ddazal/align.css/dist/align.min.css');

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  width: 90%;
}
